@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");
/*WAP FOR PRACTICE CODING RULE*/

/****************************************************
 * Stylesheet
 *
 * 1.general
 * 2.layout
 * 3.template
 * 4.content
 * 5.general on smartphone(sp)
 * 6.layout on smartphone(sp)
 * 7.template for sp
 * 8.content for sp
 *
 * ※The breakpoint is 768, so please change it according to the site
 ****************************************************/
/****************************************************

/****************************************************
 * 1.GENERAL
 ****************************************************/

html {
    font-size: 10px;
    font-family: 'Noto Sans JP';
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}

/****************************************************
 * 2.LAYOUTS
 ****************************************************/
 .inner {
    max-width: 1120px;
    margin: 0 auto;
    width: 98%;
}
.container {
    min-width: 1120px;
    margin: 0 auto;
}
/****************************************************
 * 3.TEMPLATE
****************************************************/
/* HEADER STYLE */
#header {
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    min-width: 1120px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: #ffffff;
    z-index: 10;
    margin-top: 30px;
}
#header h1 {
    margin-left: 23px;
}
.gNav_wrapper ul {
    display: flex;
    align-items: center;
}
.gNav_wrapper ul li:first-child {
    padding-left: 0;
}
.gNav_wrapper ul li {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: normal;
    color: #333333;
    padding-left: 37px;
}
.gNav_wrapper ul li a {
    text-decoration: none;
    color: #333333;
}
.gNav_wrapper ul li a:hover {
    transition: 0.3s;
    color: #0c46c1;
}
.mail_contact {
    height: 70px;
}
.menu_collapse {
    display: none;
}
.icon_close {
    display: none;
}
/* FOOTTER STYLE */
#footer {
    background-color: #313738;
}
.pagetop {
    cursor: pointer;
    background-color: #0c46c1;
    text-align: center;
    transition: opacity 0.3s;
}
.pagetop:hover {
    opacity: 0.7;
}
.pagetop img {
    padding: 21px 0 18px 0;
    cursor: pointer;
}
.ft_content {
    display: flex;
    justify-content: space-between;
}
.ft_info p {
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
}
.ft_content .company_dct {
    padding-top: 8px;
}
.ft_menu {
    width: 38.89%;
    display: inline-block;
    margin-top: 47px;
}
.ft_menu a {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;
    margin-left: 33px;
}
.ft_menu a:hover {
    transition: 0.3s;
    text-decoration: underline;
}
.ft_menu a:first-child,.ft_menu a:nth-child(5) {
    margin-left: 2px;
}
.ft_copyright p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
}
.ft_info {
    margin: 40px 0 25px;
}
/* PAGE TITLE */
.page_title_contact {
    background-image: url(../img/common/bg_page_title_pc.png);
    height: 178px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page_title_privacypolicy {
    background-image: url(../img/common/bg_page_title_pc.png);
    height: 178px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page_title_recruit {
    background-image: url(../img/common/bg_page_title_pc.png);
    height: 178px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page_title_product {
    background-image: url(../img/common/bg_page_title_pc.png);
    height: 178px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page_title_company {
    background-image: url(../img/common/bg_page_title_pc.png);
    height: 178px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page_title_sitemap {
    background-image: url(../img/common/bg_page_title_pc.png);
    height: 178px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page_title_sitemap h2,.page_title_company h2, .page_title_product h2,.page_title_recruit h2,.page_title_privacypolicy h2,.page_title_contact h2{
    padding: 57px 0 47px 0;
    text-align: center;
}
.breadcrumb {
    background-color: #0c46c1;
}
.breadcrumb ul{
    display: flex;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: normal;
    padding: 4px 0;
}
.breadcrumb ul li:first-child:after {
    content: '';
    background-image: url('../img/company/icon_arow.png');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 21px;
    color: #ffffff;
    width: 7px;
    height: 10px;
    margin-right: 23px;
}
.breadcrumb li a {
    text-decoration: none;
    color: #ffffff;
    margin-left: -4px;
}
/* BOX INFOR */
.box_common_infor {
    background-color: #f0f4fb;
    padding: 30px 31px 30px 31px;
}
.ttl_common_section {
    background-image: url(../img/common/icon_common_\ slashes.jpg);
    background-repeat: no-repeat;
    font-size: 3rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 3px;
    color: #333333;
    background-position: 0 15px;
    border-bottom: dashed 1px #b9d2fe;
    padding-left: 43px;
    margin-top: 85px;
    padding-bottom: 2px;
}
.box_common_infor .box_text {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2;
    color: #333333;
}

.box_common_infor .contact_tell {
    margin-right: 27px;
}
.box_common_infor .add_icon {
    background-image: url(../img/recruit/icon_recruit01.jpg);
    background-repeat: no-repeat;
    background-position: 0 4px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.78;
    letter-spacing: 1.8px;
    color: #333333;
    padding-left: 40px;
    padding-bottom: 7px;
}
.box_common_infor p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    color: #333333;
}
/* BUTTON TO CONTACT */
.common_sec {
    padding: 64px 0 99px;
    text-align: center;
}
.common_sec01 {
    padding: 50px 0 100px 0;
    text-align: center;
}
/****************************************************
 * 4.CONTENT
****************************************************/
    /****************************************************
    * PAGETOP CONTENT
    ****************************************************/
        .bnr_top_page img {
            width: 100%;
        }
        .top_sec01 {
            display: flex;
            align-items: center;
            padding: 113px 0;
        }
        .top_sec01 h2 {
            display: flex;
            align-items: center;
            font-size: 4rem;
            font-weight: 500;
            letter-spacing: 4px;
            color: #333333;
            padding-left: 30px;
        }
        .top_sec01 h2 span {
            padding: 5.5px 18px;
            margin-left: 18px;
        }
        .top_sec01 .icon_top_news {
            background-image: url(../img/top/icon_top_news.jpg);
            background-repeat: no-repeat;
            background-position: center;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 0.8px;
            color: #ffffff;
        }
        .top_sec01_txt {
            font-size: 18px;
            font-weight: 400;
            color: #333333;
            margin-left: 62px;
        }
        .top_sec01_txt .date {
            color: #2458c7;
        }
        .top_sec02 {
            background-image: url(../img/top/bg_top_sec02.jpg);
            text-align: center;
            background-repeat: no-repeat;
            background-position: center;
            padding-top: 91px;
            height: 600px;
        }
        .ttl_top_section {
            font-size: 4.5rem;
            letter-spacing: 4.5px;
            margin-bottom: 61px;
            
            color: #ffffff;
        }
        .icon_ttl_top_section {
            background-image: url(../img/top/icon_ttl_top_section.png);
            background-repeat: no-repeat;
            background-position: center;
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: 0.9px;
            display: block;
            padding: 4.5px 0;
            margin-top: 26px;
            margin-bottom: 45px;
        }
        .txt_ttl_top_section {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.94;
            letter-spacing: normal;
            display: block;
        }
        .top_sec03 {
            background-image: url(../img/top/bg_top_sec03.png );
            text-align: center;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: -166px;
            height: 675px;
            padding-top: 106px;
        }
        .top_sec04 {
            background-image: url(../img/top/bg_top_sec04.png );
            text-align: center;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: -86px;
            padding-top: 90px;
            height: 635px;
        }
        .top_sec03 .wrapper_recruit {
            padding-top: 84px;
        }
        .top_sec04 .wrapper_product {
            padding-top: 75px;
        }
        a img {
            transition: opacity 0.3s; }
        a img:hover {opacity: 0.7; } 
    /****************************************************
    * PAGECONTACT CONTENT
    ****************************************************/
        .contact_sec02 .ttl_common_section {
            margin-bottom: 25px;
        }
        .contact_sec01 .box_common_infor {
            border: 1px solid #c2d1ef;
            padding: 28px 30px 28px 30px;
        }
        .contact_sec02 .mailform_contact {
            padding-top: 6px;
        }
        .mailform_contact p {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2;
            letter-spacing: normal;
            color: #333333;
            margin-bottom: 41px;
        }
        .mailform_contact p span {
            color: #c92c2c;
        }
        .mailform_contact p a {
            text-decoration: none;
            color: #333333;
            border-bottom: 1px solid #656565;
            padding-bottom: 3px;
        }
        .table {
            width: 100%;
        }
        .table tbody tr th {
            width: 210px;
            background-color: #0c46c1;
            vertical-align: middle;
            border-bottom: solid 1px #ffffff;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 4.5;
            letter-spacing: 0.8px;
            color: #ffffff;
            text-align: left;
            padding-left: 20px;
        }
        .table tbody tr th img {
           float: right;
           border-radius: 4px;
           margin-right: 20px;
           margin-top: 25px;
        }
        .table tbody tr td {
            padding: 20px;
            background-color: #f0f4fb;
            vertical-align: middle;
            border-bottom: solid 1px #ffffff;
        }
        .table tbody tr .error {
            color: #c10c0c;
            font-size: 1.3rem;

        }
        .table input[type="text"] {
            width: 97%;
            padding: 10px;
            border: none;
        }
        .table textarea {
            width: 97%;
            padding: 0;
            border: none;
            height: 150px;
            padding-right: 20px;
        }
        .contact_sec02 .submit {
            margin: 49px 0 100px 0;
        }
        .submit input[type="submit"] {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2;
            letter-spacing: 1.6px;
            color: #ffffff;
            width: 120px;
            height: 60px;
            margin: 0 auto;
            cursor: pointer;
            display: block;
            background-image: url(../img/contact/btn_contact_submit.png);
            border: none;
            transition: opacity 0.3s;
        }
        .submit input[type="submit"]:hover {
            opacity: 0.3;
        }
    /****************************************************
    * PAGECPRIVACYPOLICY CONTENT
    ****************************************************/
        .privacypolicy_sec01 {
            margin-bottom: 100px;
        }
        .privacypolicy_sec01 p {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2;
            letter-spacing: normal;
            color: #333333;
        }
        .privacypolicy_sec01 .panel:nth-child(1) h4 {
            background-image: url(../img/privacypolicy/icon_privacy01.jpg);
            background-repeat: no-repeat;
            background-position: 0 4px;
        }
        .privacypolicy_sec01 .panel:nth-child(2) h4 {
            background-image: url(../img/privacypolicy/icon_privacy02.jpg);
            background-repeat: no-repeat;
            background-position: 0 4px;
        }
        .privacypolicy_sec01 .panel:nth-child(3) h4 {
            background-image: url(../img/privacypolicy/icon_privacy03.jpg);
            background-repeat: no-repeat;
            background-position: 0 4px;
        }
        .privacypolicy_sec01 .panel:nth-child(4) h4 {
            background-image: url(../img/privacypolicy/icon_privacy04.jpg);
            background-repeat: no-repeat;
            background-position: 0 4px;
        }
        .privacypolicy_sec01 .panel:nth-child(5) h4 {
            background-image: url(../img/privacypolicy/icon_privacy05.jpg);
            background-repeat: no-repeat;
            background-position: 0 4px;
        }
        .privacypolicy_sec01 .panel h4 {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.78;
            letter-spacing: 1.8px;
            color: #333333;
            padding-left: 39px;
            padding-bottom: 8px;
        }
        .privacypolicy_sec01 .panel {
            background-color: #f0f4fb;
            margin-top: 30px;
            padding: 26px 28px 22px 28px;
        }
        .privacypolicy_sec01 .panel:nth-child(3),.privacypolicy_sec01 .panel:nth-child(4),.privacypolicy_sec01 .panel:nth-child(5) {
            padding-bottom: 25px;
        }
        .privacypolicy_sec01 .panel .panel_in {
            background-color: #ffffff;
            margin-top: 13px;
            padding: 15px 21px;
        }
        .privacypolicy_sec01 .panel .panel_in li {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2;
            letter-spacing: 0.8px;
            color: #333333;
            padding-left: 35px;
        }
        .privacypolicy_sec01 ol .padding_bottom {
            padding-bottom: 30px;
        }
        .privacypolicy_sec01 .panel .panel_in li:nth-child(1) {
            background-image: url(../img/privacypolicy/icon_privacy_panel_in01.jpg);
            background-repeat: no-repeat;
            background-position: left;
            background-position: 0 4px;
        }
        .privacypolicy_sec01 .panel .panel_in li:nth-child(2) {
            background-image: url(../img/privacypolicy/icon_privacy_panel_in02.jpg);
            background-repeat: no-repeat;
            background-position: left;
            background-position: 0 4px;
        }
        .privacypolicy_sec01 .panel .panel_in li:nth-child(3) {
            background-image: url(../img/privacypolicy/icon_privacy_panel_in03.jpg);
            background-repeat: no-repeat;
            background-position: left;
            background-position: 0 4px;
        }
    /****************************************************
    * PAGE RECRUIT CONTENT
    ****************************************************/
        .recruit_sec01 .table01 {
            margin-top: 25px;
            margin-bottom: 83px;
        }
        #contents .table01 {
            width: 100%;
        }
        .table01 tbody tr th {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.8px;
            color: #0c46c1;
            width: 111px;
            vertical-align: top;
            position: relative;
            text-align: left;
            padding-left: 20px;
            padding-top: 16px;
        }
        #contents .table01 tbody tr th::after {
            width: 130px;
            height: 2px;
            content: '';
            background-image: url(../img/recruit/pic_recruit_table_th_bar.jpg);
            background-position: center;
            position: absolute;
            bottom: -1px;
            left: 0;
        }
        .table01 tbody tr td {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: normal;
            letter-spacing: normal;
            color: #333333;
            padding: 16px 21px;
            border-bottom: 2px solid #f0f4fb;
            vertical-align: top;
        }
        .recruit_sec01 .table01 tbody tr td {
            padding: 17px 21px;
        }
        .recruit_sec01 .table01 tbody tr:nth-child(5) td,.recruit_sec01 .table01 tbody tr:nth-child(6) td {
            padding: 16.5px 21px;
        }
        .table01 tbody tr:nth-child(4) td,.table01 tbody tr:nth-child(4) th {
            line-height: 1.7;
        }
        .table01 tbody tr:last-child td,.table01 tbody tr:last-child th {
            line-height: 1.8;
        }
        .recruit_sec01 .table01 tr:last-child td,.recruit_sec01 .table01 tr:last-child th {
            line-height: 2;
            vertical-align: middle;
            padding-top: 11px;
            padding-bottom: 12px;
        }
        .recruit_sec01 .table01 tbody tr:nth-child(4) td,.table01 tbody tr:nth-child(4) th {
            line-height: normal;
        }
        .company_image_introduce {
            margin: 31px 0 50px;
        }
        .recruit_sec01 .box_common_infor {
            padding: 28px 28px 30px 28px;
        }
        .box_common_infor .box_in_infor {
            background-color: #ffffff;
            padding: 33px 0 24px 22px;
            margin-top: 15px;
        }
        .box_common_infor .box_in_infor p {
            padding-top: 7px;
        }
    /****************************************************
    * PAGE PRODUCT CONTENT
    ****************************************************/
        .ctn_product {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }
        .ctn_product_left {
            width: 720px;
        }
        .ctn_product_right {
            padding-top: 43px;
            width: 360px;
        }
        .product_sec01 .product_detail {
            font-size: 2.2rem;
            font-weight: 400;
            letter-spacing: normal;
            color: #333333;
            margin-bottom: 21px;
            position: relative;
            padding-left: 19px;
            margin-top: 31px;
        }
        .product_sec01 .margin_30 {
            margin-top: 30px;
        }
        .product_sec01 .product_detail::before {
            content: '';
            height: 23px;
            background-color: #0c46c1;
            width: 4px;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
        }
        .ctn_product_left h4:first-child {
            margin-top: 0;
        }
        .ctn_product_left p {
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: normal;
            color: #333333;
            border: 1px solid #f0f4fb;
            padding: 21.5px;
        }
        .product_sec01 .ctn_product_right img {
            width: 100%;
            margin-bottom: 20px;
        }
        .product_sec01 .box_common_infor {
            padding: 18px 28px 22px 28px;
        }
        .product_sec01 .box_common_infor p {
            padding-top: 1px;
        }
        .product_sec01 .ttl_product_fontweight {
            font-weight: 300;
        }
        .box_common_infor span {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.78;
            letter-spacing: 1.8px;
            color: #333333;
        }
        .box_common_infor .ttl_product_box {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2;
            letter-spacing: 1.8px;
            color: #333333;
        }
        .product_sec01 .box_common_infor .dash01 {
            font-size: 2rem;
            font-weight: 300;
        }
        .product_sec01 .ttl_product_box .dash02 {
            font-size: 1.6rem;
            line-height: 2;
            font-weight: normal;
            letter-spacing: normal;
        }
        .table02 {
            width: 100%;
            table-layout: fixed;
            line-height: 2;
            position: relative;
            margin-bottom: 92px;
        }
        .table02 tr td {
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: normal;
            color: #333333;
        }
        .product_orange_book {
            position: absolute;
            bottom: 10px;
            right: 163px;
        }
    /****************************************************
    * PAGE COMPANY CONTENT
    ****************************************************/

        .company_sec01 .box_common_infor {
            padding: 27px 36px 21px 29px;
        }
        .company_sec02 .table01 {
            margin-top: 41px;
        }
        .company_sec02 .ttl_common_section {
            margin-top: 87px;
        }
        .company_sec02 .table01 tr:first-child td {
            padding: 17px 21px;
        }
        .company_sec02 .table01 tr:last-child th  {
            vertical-align: middle;
            padding-top: 0;
        }
        .box_common_infor .box_company p {
            font-weight: bold;
        }
        .company_image_introduce .img_introduce01 {
            margin-right: 19px;
        }
        .company_map iframe {
            width: 100%;
            height: 350px;
            border: 0;
        }
        .company_map dl {
            margin-bottom: 98px;
            font-size: 1.6rem;
            line-height: 1;
            letter-spacing: normal;
        }
        .company_map dl dt {
            color: #0c46c1;
            background-image: url(../img/company/icon_map_maru.jpg);
            background-repeat: no-repeat;
            background-position: 0;
            padding-left: 23px;
            font-weight: 500;
            margin-top: 29px;
        }
        .company_map dl dd {
            margin-top: 18px;
            padding-left: 23px;
            font-weight: 400;
        }
    /****************************************************
    * PAGE SITEMAP CONTENT
    ****************************************************/
        .sitemap_sec01 .ttl_common_section {
            margin-bottom: 41px;
        }
        .box_common_infor ul li::before {
            content: '';
            background-image: url(../img/sitemap/icon_arow.png);
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            width: 7px;
            height: 12px;
            margin-left: 22px;
            margin-right: 12px;
        }
        .box_common_infor ul li a {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.78;
            letter-spacing: 1.8px;
            color: #333333;
            text-decoration: none;
        }
        .box_common_infor ul li {
            background-color: #ffffff;
            padding: 24px 0;
            width: 335px;
            margin: 0 20px 31px 0;
            display: inline-block;
        }
        .box_common_infor ul li:first-child {
            display: block;
        }
        .box_common_infor ul li:nth-child(2),.box_common_infor ul li:nth-child(3) {
            display: none;
        }
        .box_common_infor ul li:nth-child(7),.box_common_infor ul li:nth-child(8),.box_common_infor ul li:nth-child(9) {
            margin-bottom: 0;
        }
        .box_common_infor ul li:nth-child(6),.box_common_infor ul li:nth-child(9) {
            margin-right: 0;
        }
        
            
/****************************************************
 * 5.GENERAL ON SMARTPHONE(SP)
****************************************************/

/****************************************************
 * 6.LAYOUT ON SMARTPHONE(SP)
****************************************************/
@media screen and (max-width: 767px) {
    .inner {
        max-width: 96%;
    }
}    
/****************************************************
 * 7.TEMPLATE FOR SP
****************************************************/
@media screen and (max-width:768px) {
    /* HEADER */
    .container {
        min-width: 100%;
    }
    #header {
        min-width: 100%;
    }
    #header h1 {
        margin-left: 10px;
    }
    #header h1 img {
        max-width: 310px;
    }
    .menu_collapse {
        display: flex;
        align-items: center;
    }
    .menu_collapse img {
        width: 5%;
        font-size: 3rem;
        cursor: pointer;
        position: absolute;
        color: #061c49;
        right: 2rem;
        z-index: 2;
    }
    #gNav.gNav_wrapper {
        margin-left: 0;
        position: fixed;
        top: 70px;
        right: 0;
        z-index: 2;
        border-left: 1px solid #f2f2f2;
        will-change: transform;
        transform: translateX(100%);
        display: block;
        width: 100%;
        height: 100vh;
        overflow: scroll;
    }
    #gNav.gNav_wrapper.open {
        transform: translateX(0);
        background-color: #b9d2fe;
        top: 45px;
    }
    .gNav_wrapper {
        display: none;
    }
    .on .icon_close {
        display: block;
        z-index: 3;
    }
    .on .icon_open {
        display: none;
    }
    .gNav_wrapper ul {
        display: block;
    }
    .gNav_wrapper ul li {
        padding: 15px 30px;
        border-bottom: 1px solid #ffffff;
    }
    .gNav_wrapper ul li:first-child {
        padding-top: 60px;
        padding-left: 30px;
    }
    .gNav_wrapper ul li:last-child {
        text-align: center;
        border-bottom: 0;
        padding-top: 30px;
    }
    /* FOODER */
    .ft_content {
        display: block;
    }
    .ft_info {
        text-align: center;
        margin: 35px 0 10px;
    }
    .ft_menu {
        text-align: center;
        width: 100%;
        border-top: solid 1px #ffffff;
        border-bottom: solid 1px #ffffff;
        padding: 7px 0;
        margin-top: 0;
    }
    .ft_info p {
        font-size: 1.4rem;
    }
    .ft_menu a {
        margin: 0 10px;
        font-size: 1.4rem;
        line-height: 2.5;
    }
    .ft_menu a:first-child, .ft_menu a:nth-child(5) {
        margin-left: 10px;
    }
    .ft_copyright {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* BOX */
    .ttl_common_section {
        margin-top: 35px;
        margin-bottom: 30px;
        font-size: 2.5rem;
        background-position: 0 10px;
        line-height: 1.5;
        background-size: 22px;
        padding-left: 33px;
        padding-bottom: 10px;
    }
    .box_common_infor {
        padding: 20px 21px 20px 21px;
    }
    /* PAGE_TITLE */
    .page_title_product,.page_title_recruit,.page_title_company,.page_title_privacypolicy,.page_title_contact,.page_title_sitemap {
        height: 150px;
    }
    .page_title_sitemap img,.page_title_company img, .page_title_product img,.page_title_recruit img,.page_title_privacypolicy img,.page_title_contact img{
        height: 60px;
    }
    .page_title_sitemap h2,.page_title_company h2, .page_title_product h2,.page_title_recruit h2,.page_title_privacypolicy h2,.page_title_contact h2{
        padding: 55px 0 35px 0;
        text-align: center;
    }
    /* BREACRUMB */
    .breadcrumb ul {
        font-size: 1.4rem;
    }
    /*PAGE TOP */
    .pagetop img {
        padding: 13px 0 10px 0;
    }
    .pagetop_img {
        height: 30px;
    }
}
/****************************************************
 * 8.CONTENT FOR SP
****************************************************/
@media screen and (max-width:768px) {
    /****************************************************
    * PAGETOP CONTENT
    ****************************************************/  
        .top_sec01 {
            display: block;
            padding: 35px 0;
        }
        .top_sec03,.top_sec04 {
            margin-top: 0;
        }
        .top_sec01 h2 {
            font-size: 3rem;
            padding-left: 0;
        }
        .top_sec01_txt {
            margin-top: 19px;
            margin-left: 5px;
            font-size: 1.6rem;
        }
        .ttl_top_section {
            font-size: 3.5rem;
            margin-bottom: 20px;
        }
        .icon_ttl_top_section {
            margin: 15px 0;
            font-size: 1.7rem;
        }
        .top_sec01 .icon_top_news {
            font-size: 1.4rem;
        }
        .txt_ttl_top_section {
            font-size: 1.4rem;
        }
        .top_sec02,.top_sec03,.top_sec04 {
            padding-top: 30px;
            padding-bottom: 30px;
            height: auto;
            background-position: 31% center;
        }
        .btn_img_top_more {
            width: 300px;
        }
        .top_sec04 .wrapper_product,.top_sec03 .wrapper_recruit {
            padding-top: 0;
        }
        .common_sec,.common_sec01 { padding: 40px 0;}
        .common_sec a img,.common_sec01 a img {
            width: 100%;
        }
        /* BOX */
        .box_common_infor .box_text,.box_common_infor p {
            font-size: 1.4rem;
        }
    /****************************************************
    * PAGECONTACT CONTENT
    ****************************************************/
        .contact_sec01 .box_common_infor {
            padding: 20px;
        }
        .contact_sec02 .mailform_contact {
            padding-top: 0;
        }
        .contact_sec02 .ttl_common_section {
            margin-bottom: 22px;
        }
        .mailform_contact p {
            font-size: 1.4rem;
            margin-bottom: 31px;
        }
        .table tbody tr th {
            width: 160px;
            line-height: 1.5;
            padding-left: 8px;
            font-size: 1.4rem;
        }
        .table tbody tr th img {
            margin-top: 2px;
            margin-right: 13px;
            max-width: 20px;
        }
        .table tbody tr td {
            padding: 12px;
        }
        .table input[type="text"] {
            padding: 6px;
        }
        .table textarea { 
            height: 100px;
            padding-right: 10px;
        }
        .contact_sec02 .submit {
            margin: 40px 0 40px 0;
        }
    /****************************************************
    * PAGE CPRIVACYPOLICY CONTENT
    ****************************************************/
        .privacypolicy_sec01 {
            margin-bottom: 55px;
        }
        .privacypolicy_sec01 p {
            font-size: 1.4rem;
        }
        .privacypolicy_sec01 .panel h4 {
            font-size: 1.6rem;
        }
        .privacypolicy_sec01 .panel .panel_in li {
            font-size: 1.4rem;
        }
        .privacypolicy_sec01 .panel {
            padding: 16px 20px 14px 19px;
        }
        .privacypolicy_sec01 ol .padding_bottom {
            padding-bottom: 23px;
        }
        .privacypolicy_sec01 .panel .panel_in {
            padding: 11px 8px;
        }
        .privacypolicy_sec01 .panel:nth-child(3), .privacypolicy_sec01 .panel:nth-child(4), .privacypolicy_sec01 .panel:nth-child(5) {
            padding-bottom: 16px;
        }
    /****************************************************
    * PAGE RECRUIT CONTENT
    ****************************************************/
        #contents .table01 {
            margin-bottom: 25px;
        }
        .box_common_infor .box_in_infor {
            padding: 19px 11px 15px 11px;
            margin-top: 18px;
        }
        .box_common_infor .box_in_infor a img {
            width: 260px;
        }
        .box_common_infor .add_icon {
            font-size: 1.6rem;
        }
        .recruit_sec01 .box_common_infor {
            padding: 12px 16px 12px 18px;
        }
        #recruit_box {
            padding: 16px 16px 20px 20px;
        }
    /****************************************************
    * PAGE PRODUCT CONTENT
    ****************************************************/
        .product_sec01 .product_detail { 
            font-size: 1.9rem; 
            margin-top: 35px;
            margin-bottom: 20px;
        }
        .product_sec01 .margin_30 {
            margin-top: 40px;
        }
        .ctn_product_left p { 
            font-size: 1.4rem;
            line-height: 1.5;
            padding: 15px;
        }
        .ctn_product {
            margin-bottom: 30px;
            display: block;
        }
        .ctn_product_left { 
            width: 100%; 
        }
        .product_sec01 .ctn_product_right {
            width: 100%;
            letter-spacing: -9px;
            padding-top: 35px;
        }
        .product_sec01 .ctn_product_right img {
            width: 48%;
            margin: 1%;
        }
        .product_sec01 .box_common_infor {
            padding: 7px 15px 10px 19px;
        }
        .table02 {
            margin-bottom: 108px;
        }
        .table02 tbody {
            display: inline;
        }
        .table02 tbody tr {
            display: inline;
        }
        .box_common_infor span {
            font-size: 1.6rem;
        }
        .box_common_infor .ttl_product_box {
            font-size: 1.4rem;
        }
        .table02 tbody tr td {
            display: inline-block;
            margin: 3px;
            font-size: 1.4rem;
        }
        .table02 tbody tr td::before {
            content: '・';
            margin-right: 5px;
            height: 2px;
            width: 2px;
            color: #0c46c1;
        }
        .table02 tbody tr .product_orange_book::before {
            display: none;
        }
        .table02 tbody tr .product_orange_book {
            bottom: -82px;
            left: -19px;
        }
    /****************************************************
    * PAGE COMPANY CONTENT
    ****************************************************/
        .company_sec02 .ttl_common_section {
            margin-top: 30px;
        }
        .company_sec02 .table01 {
            margin-top: 0;
        }
        #contents .table01 tbody tr th {
            width: 82px;
            padding-left: 8px;
            vertical-align: top;
            padding-top: 16px;
        }
        #contents .table01 tbody tr th::after {
            width: 90px;
        }
        #contents .table01 tbody tr td {
            padding: 16px 0 16px 15px;
        }
        .company_image_introduce {
            text-align: center;
            margin-bottom: 30px;
        }
        .company_image_introduce .img_introduce01 {
            margin-right: 0;
            margin-bottom: 20px;
        }
        .company_image_introduce .img_introduce01,.company_image_introduce .img_introduce02 {
            width: 100%;
        }
        .company_map {
            width: 100%;
        }
        .box_common_infor .box_company,#contents .table01 tbody tr th,#contents .table01 tbody tr td,.company_map dl {
            font-size: 1.4rem;
        }
        .company_map dl {
            margin-bottom: 40px;
            margin-top: 40px;
        }
        .company_map dl dd {
            margin-top: 15px;
        }
        .box_common_infor ul li {
            width: 100%;
            margin: 0 0 15px 0;
            padding: 10px 0;
        }
        .box_common_infor ul li:nth-child(7),.box_common_infor ul li:nth-child(8) {
            margin-bottom: 15px;
        }
        .box_common_infor ul li a {
            font-size: 1.6rem;
        }
        #box_common_company {
            margin-top: 30px;
            padding: 12px 16px 12px 18px;
        }
    /****************************************************
    * SITEMAP CONTENT
    ****************************************************/
        .sitemap_sec01 {
            margin-bottom: 50px;
        }
        .sitemap_sec01 .ttl_common_section {
            margin-bottom: 30px;
        }     
}
@media screen and (max-width:1120px) and (min-width:769px) {
    .box_common_infor ul li {
        width: 313px;
    }
}
@media screen and (max-width:590px) {
    .box_common_infor .contact_tell img {
        margin-bottom: 5px;
    }
}
